/* font */

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Miniver&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Serif Text";
}

header .navbar {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
}
p {
  font-family: "Times New Roman", Times, serif;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

header {
  background-color: #ebf0c9;
  position: fixed;
  width: 100%;
  z-index: 5;
}

ul {
  list-style: none;
}

.navbar.section-content {
  margin: 0 auto;
  padding: 15px 120px;
  max-width: 1300px;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.navbar .nav-menu {
  display: flex;
  gap: 10px;
}

.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  background: #ebf0c9;
  color: black;
  border-radius: 30px;
  transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
  transform: scale(1.05);
  background: orange;
  color: white;
}

.img-logo {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.titleContainer {
  display: flex;
  align-items: center; /* vertical alignment */
  gap: 8px; /* space between logo and text */
}
.hero-image {
  height: 300px;
  width: 300px;
}

.hero-section {
  min-height: 100vh;
}

.hero-section .section-content {
  display: flex;
  background-color: #ebf0c9;
  align-items: center;
  min-height: 100vh;
  color: black;
  justify-content: space-between;
}

.hero-section .hero-details .title {
  font-size: xx-large;
  font-family: "Miniver", sans-serif;
  color: #f78e05;
}

.hero-section .hero-details .subtitle {
  font-size: x-large;
  color: black;
  margin-top: 8px;
  max-width: 70%;
  font-weight: bold;
}
